---
import {Image} from "astro:assets";
const props = Astro.props
---

<a
	href={props.link}
	class="flex duration-300 bg-gray-800 hover:bg-teal-500 text-white p-3 m-1 ml-auto mr-auto h-[62px] w-[342px] items-center justify-left shadow-md mt-5 hover:ring-4 hover:ring-teal-400/50 box-border rounded-2xl"
    title={props.alt}>

	<Image
			src={props.image}
			alt={props.alt}
			width="32"
			height="32"
			class="mr-2"
	/>

	<div class="justify-self-center width-[calc(100% + 32px)]">
		<p class="font-bold "> {props.title} </p>
	</div>
</a>